/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 h1 {
   color: #11202B;
   font-family: 'Mukta', sans-serif;
   margin-left: 1rem;
   padding: 5px;
 }

 h2 {
   color: #11202B;
   font-family: 'Mukta', sans-serif;
   margin-left: 1rem;
   padding: 5px;
 }

 body {
   background-color: #E5E7E9;
 }

ul.title-area {
  text-align: center;
  display: inline-block;
}

 .actions {
   color: #11202B;
   margin-left: 10rem;
   margin-right: 10rem;
   padding: 20px;
 }

 .callout.courtTile {
   padding: 10px;
 }
 .callout.courtTile:hover {
   background-color: yellow;
   font-size: 150%;
 }

 .field {
   color: #11202B;
   margin-left: 10rem;
   margin-right: 10rem;
   padding: 20px;
 }

 .hollow.button {
   margin-left: 2rem;
 }

 .image {
   width: 300px;
   height: 300px;;
 }

 .new-court {
   color: #11202B;
   margin-left: 1rem;
   padding: 5px;
 }

.review {
  margin-top: 40rem;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 20px;
}

.map {
  margin-left: auto;
  margin-right: auto;
}

.top-bar {
  background-color: #1D428A;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  width: 920px;
  margin: 0 auto;
}
