<div class="center">
    <hr class="indexBar" />
    <ul class="wrapper">

      <% @courts.each do |court| %>
        <a href="/courts/<%= court.id %>">
          <div class="card-panel hoverable">
            <div class="container">
              <%= court.name %>
            </div>
            <div class="image">
              <%= image_tag court.court_photo.url.to_s %>
            </div>
          </div>
        </a>
      <% end %>
    </ul>
    <h3 class="button secondary"> <%= link_to "Add a Court", new_court_path %> </h3>

</div>


<!-- <form class="form-inline my-2 my-lg-O" action="/search">
  <input class="form-control-mr-sm-2" type="text" placeholder="Search" aira-label="Search">
  <button class=:bttn btn-outline-success my-2 my-sm-O" type="submit">Search</button>
</form> -->
